.factContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 25%;
    border-radius: .5em;
    border: solid 1px black;
    padding: 0 1%;
}

.funFact {
    margin: 0;
    align-self: stretch;
    border-bottom: solid 1px black;
    font-size: 24px;
    font-weight: 600;
}

.fact {
    display: flex;
    margin: auto 0;
}