.flashcard {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 25%;
    border-radius: .5em;
    border: solid 1px black;
    padding: 0 1%;
}

.flashcard > h1 {
    margin: 0;
    align-self: stretch;
    border-bottom: solid 1px black;
    font-size: 30px;
    font-weight: 700;
}

.flashcard > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}