.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.icon {
    width: 45px;
    height: 45px;
}